@import "../assets/css/use";

.block-base {
	padding: @card-padding;
	border-radius: 0 0 2px 2px;
   min-height: 50px;
}

.block-goods {
	position: relative;
	
	.product-with-qs {
		padding: @card-padding;
		padding-left: 150px + @card-padding * 2;
      position: relative;
      min-height: 100px + @card-padding * 2;
		.product-image	{
         position: absolute;
         width: 150px;
         max-height: 100px;
         overflow: hidden;
         left: @card-padding;
         display: inline-block;
         vertical-align: middle;			
			background-color: #ccc;
		}
	}
	
}